body{
    background-color: aquamarine;
    width: auto;
}
.returnto{
    background-color: bisque;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, sans-serif;
    margin-left: 900px;
}
.header1{
    color: red;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, sans-serif;
}
#parag1{
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.header2{
    color: blueviolet;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, sans-serif;
}
#list{
    color: orangered;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Tahoma, sans-serif;
}
.header3{
    color: rebeccapurple;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, sans-serif;
}
#list2{
    color: orange;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, sans-serif;
}
span{
    display: inline-block;
    background: rgb(231, 13, 49);
    border: 1px solid black;
    margin: 1px;
    padding: 3px;
}
.bySteps{
    display: inline-block;
    background: green;
    border: 1px solid black;
    margin: 1px;
    padding: 3px;
}
